# --- CONFIGURACIÓN DE ENTORNO: FIRMWARE BAOFENG UV-K6 HALF-LIFE ---

# Puerto serial USB donde se conecta el programador del radio
# Ejemplos en Linux: /dev/ttyUSB0, /dev/ttyUSB1, /dev/ttyACM0
# Ejemplos en macOS: /dev/cu.usbserial-140
# Ejemplos en Windows: COM3, COM4
PORT=/dev/ttyUSB0
